body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#result {
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
}

#result stroke {
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#copyButton {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#copyButton:hover {
  background-color: #3e8e41;
}
